
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>首面-搜索页</title>
    <style type="text/css">
        div{
            width:600px;
            margin:auto;
        }
        #divLog{
            margin-top:100px;
        }
    </style>
    <script src="~/Content/JS/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#txtContent").keyup(function () {
                var username = this.value;
                if (username == "") {
                    return;
                }

                //无刷新调用方法{key:value}
                $.ajax({
                    //url:""/Home/GetUser?username="+username  必填,参数少可以
                    url: "/Home/GetUser",//必填
                    type: "post",//可选 Post/get 显示提交  隐式提交
                    data: { "username": username },//可选，多个用逗号分开，如 { "username": username,"id":"123" }值或变理
                    dataType: "json",//可选（返回值类型）text:string   eval转换
                    success: function (data) { //回调 json
                        $("#ulList").html("");
                        //单独写类型转换
                        //循环遍历打印到界面
                        //迭代器
                        //data数据源,处理函数 i为第几行数据,item实际的数据
                        $.each(data,function (i, item) {
                            $("#ulList").append("<li>" + item.UserId+"----" +item.UserName + "</li>");
                        });
                    }
                
                });

            });
        });

    </script>

</head>
<body>
    <div id="divLog"> 
        <img src="~/Content/Image/bd.png" style="width:200px" />
    </div>
    <div>
        <input type="text" id="txtContent" style="width:400px" />
        <input type="button" value="百度一下" />
        <ul id="ulList"></ul>
    </div>
</body>
</html>
